//
// Home Page Specific Styles
// --------------------------------------------------

.overlay-content {
  position: relative;
  &__overlay-column {
    position: relative;
    @include media-breakpoint-up(md) {
      transform: translateY(-50%);
    }
  }

  .container {
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -99;
      width: 200px;
      height: 200px;
      content: "";
      background: url("/assets/images/svg/curves-square-blue.svg");
      transform: translate(-25%, 0%);
    }
  }
}


.annual-report {

  &__circles-yellow {
    top: 22%;
    left: 30%;
  }

  &__circles-blue {
    top: 22%;
    left: 30%;
  }

  &__icon {

    img {
      width: 100px;
      height: 100px;
    }

  }

  &__icon-graph {
    top: 50%;
    left: 0;
  }
}
