//
// Home Page Specific Styles
// --------------------------------------------------

.overlay-content {
  position: relative;
  &__overlay-column {
    position: relative;
    @include media-breakpoint-up(md) {
      transform: translateY(-50%);
    }
  }

  .container {
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -99;
      width: 200px;
      height: 200px;
      content: "";
      background: url("/assets/images/svg/curves-square-blue.svg");
      transform: translate(-25%, 0%);
    }
  }
}
