/* stylelint-disable stylistic/value-list-max-empty-lines, stylistic/function-max-empty-lines, stylistic/selector-list-comma-newline-after, declaration-no-important, property-no-vendor-prefix */

.page-wrapper {
  position: relative;
  overflow-x: hidden;
}

.top-0 {
  top: -1px !important;
}

.bottom-0 {
  bottom: -1px !important;
}
